<?xml version="1.0" encoding="utf-8"?>
<linearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context=".MainActivity" >

    <TextView>

        android:layout_width="wrap content"
        android:layout_height="wrap content"
        android:text="welcome to android studio"
        android:textColor="#ECE8E8"
        android:textStyle="bold"
        android:textSize="50sp
    android:textAllCaps="true"
    </TextView>


</linearLayout>